<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- imports bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <form action="">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Nascimento</th>
                        <th scope="col">Pret. Salarial</th>
                        <th scope="col">Curs. Faculdade</th>
                        <th scope="col" class="text-center">Ações</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <th scope="row"></th>
                        <td>{{nome}}</td>
                        <td>{{email}}</td>
                        <td>{{telefone}}</td>
                        <td>{{nascimento}}</td>
                        <td>{{pretSalarial}}</td>
                        <td>{{habilidades}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-success">Marcar</button>
                            <a href="/editar/{{id}}"><button type="button" class="btn btn-danger">Editar</button></a>
                            <a href="/conteudo/{{id}}"><button type="button" class="btn btn-warning">Deletar</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </form>
    </section>
</body>
</html>